---
import Layout from '../layouts/Layout.astro'
import SiteNav from '../components/SiteNav.astro'
import SiteFooter from '../components/SiteFooter.astro'
import MetaixmioCaseStudyView from '../components/case-studies/MetaixmioCaseStudyView.astro'
import {getHomePageData} from '../lib/cms'
import {metaixmioCaseStudy} from '../lib/content/metaixmio-case-study'
import {resolvePageLocale} from '../lib/i18n'
import {buildArticleJsonLd} from '../lib/json-ld'
import {SITE_URL} from '../lib/sanity-config'

export const prerender = false

const locale = resolvePageLocale(Astro.currentLocale)
const {siteSettings} = await getHomePageData(locale)
const pageUrl = `${SITE_URL}${metaixmioCaseStudy.path}/`
const jsonLd = buildArticleJsonLd({
  headline: metaixmioCaseStudy.title,
  description: metaixmioCaseStudy.metaDescription,
  url: pageUrl,
})
---

<Layout
  documentTitle={metaixmioCaseStudy.metaTitle}
  description={metaixmioCaseStudy.metaDescription}
  jsonLd={jsonLd}
  siteSettings={siteSettings}
  locale={locale}
>
  <SiteNav siteSettings={siteSettings} locale={locale} />
  <main>
    <MetaixmioCaseStudyView locale={locale} />
  </main>
  <SiteFooter locale={locale} siteSettings={siteSettings} />
</Layout>
